/*****************
General
*****************/
#weather-widget {
  display: flex;
  flex-flow: row wrap;
  width: 50%;
  margin: 0 auto;
  background-color: #c5e7e8;
}

.icon {
  font-size: 5rem;
}

h1 {
  flex: 1 100%;
  text-align: center;
}

.weather-data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 auto;
  text-align: center;
  font-size: 3rem;
}

.wear-this {
  flex: 1 auto;
  text-align: center;
}

.wear-this img {
  max-height: 300px;
  margin: 0 auto;
}

.wear-this a {
  font-size: 1rem;
}
